<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SQLSERVER_Norprice">
    <resultMap id="BaseResultMap" type="Norprice">
        <result column="bill" jdbcType="VARCHAR" property="bill" />
        <result column="drpid" jdbcType="VARCHAR" property="drpid" />
        <result column="groupid" jdbcType="VARCHAR" property="groupid" />
        <result column="shopid" jdbcType="VARCHAR" property="shopid" />
        <result column="price_new" jdbcType="DECIMAL" property="priceNew" />
        <result column="price_vipnew" jdbcType="DECIMAL" property="priceVipnew" />
        <result column="time_oknew" jdbcType="TIMESTAMP" property="timeOknew" />
        <result column="createtime" jdbcType="DATE" property="lastUpdateTime" />
        <result column="comtag" jdbcType="CHAR" property="comtag" />
        <result column="combatchno" jdbcType="VARCHAR" property="combatchno" />
    </resultMap>

    <sql id="tb">
        t_jku_norprice
    </sql>

    <sql id="cols_all">
       bill, drpid, groupid,
      shopid, price_new, price_vipnew,
      time_oknew, createtime, comtag,
      combatchno, lastmodify
    </sql>

    <sql id="criteria">
        <if test="lastUpdateTime != null"><![CDATA[  AND createtime > #{lastUpdateTime} ]]></if>
    </sql>

    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM
        <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>
    </select>

    <select id="paging" parameterType="map" resultMap="BaseResultMap">
        SELECT TOP ${pageSize}
        <include refid="cols_all"/>
        FROM
        (SELECT ROW_NUMBER() OVER (ORDER BY #{sort} DESC) AS RowNo,* FROM
        <include refid="tb"/>
        ) t
        <where>
            t.RowNo > #{offset}
            <include refid="criteria"/>
        </where>
    </select>
</mapper>