<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SQLSERVER_Poscash">
    <resultMap id="BaseResultMap" type="Poscash">
        <id column="userid" jdbcType="CHAR" property="userid" />
        <result column="drpid" jdbcType="CHAR" property="drpid" />
        <result column="mktid" jdbcType="CHAR" property="mktid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="duty" jdbcType="VARCHAR" property="duty" />
        <result column="tel_other" jdbcType="VARCHAR" property="telOther" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="office" jdbcType="CHAR" property="office" />
        <result column="code_help" jdbcType="VARCHAR" property="codeHelp" />
        <result column="iscash" jdbcType="CHAR" property="iscash" />
        <result column="isrtn" jdbcType="CHAR" property="isrtn" />
        <result column="ishead" jdbcType="CHAR" property="ishead" />
        <result column="canuse" jdbcType="CHAR" property="canuse" />
        <result column="flag_cash" jdbcType="CHAR" property="flagCash" />
        <result column="flag_dept" jdbcType="CHAR" property="flagDept" />
        <result column="flag_user" jdbcType="CHAR" property="flagUser" />
        <result column="flag_shop" jdbcType="CHAR" property="flagShop" />
        <result column="flag_trade" jdbcType="CHAR" property="flagTrade" />
        <result column="flag_num" jdbcType="CHAR" property="flagNum" />
        <result column="flag_reprint" jdbcType="CHAR" property="flagReprint" />
        <result column="flag_audit" jdbcType="CHAR" property="flagAudit" />
        <result column="flag_taxprint" jdbcType="CHAR" property="flagTaxprint" />
        <result column="flag_coupon" jdbcType="CHAR" property="flagCoupon" />
        <result column="flag_hang" jdbcType="CHAR" property="flagHang" />
        <result column="createtime" jdbcType="DATE" property="lastUpdateTime" />
        <result column="comtag" jdbcType="CHAR" property="comtag" />
        <result column="combatchno" jdbcType="VARCHAR" property="combatchno" />
        <result column="del_ok" jdbcType="CHAR" property="delOk" />
        <result column="del_time" jdbcType="TIMESTAMP" property="delTime" />
    </resultMap>
    <sql id="tb">
        t_jku_poscash
    </sql>

    <sql id="cols_all">
         userid, drpid, mktid, name, duty, tel_other, password, office, code_help, iscash,
    isrtn, ishead, canuse, flag_cash, flag_dept, flag_user, flag_shop, flag_trade, flag_num,
    flag_reprint, flag_audit, flag_taxprint, flag_coupon, flag_hang, createtime, comtag,
    combatchno, del_ok, del_time
    </sql>

    <sql id="criteria">
        <if test="lastUpdateTime != null"><![CDATA[  AND createtime > #{lastUpdateTime} ]]></if>
    </sql>

    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM
        <include refid="tb"/>
        <where>
            <include refid="criteria"/>
        </where>
    </select>

    <select id="paging" parameterType="map" resultMap="BaseResultMap">
        SELECT TOP ${pageSize}
        <include refid="cols_all"/>
        FROM
        (SELECT ROW_NUMBER() OVER (ORDER BY #{sort} DESC) AS RowNo,* FROM
        <include refid="tb"/>
        ) t
        <where>
            t.RowNo > #{offset}
            <include refid="criteria"/>
        </where>
    </select>
</mapper>